<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<parameter name="deviceName" value="emulator-5554"></parameter>
<parameter name="platformName" value="Android"></parameter>
<parameter name="platformVersion" value="11.0"></parameter>


    <classes>
  

      <class name="appium.demo.CloseFirstWorkthroughPage"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
